<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      <ion-img class="logo-tab" src="/assets/image/logo.png"></ion-img>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-card">
    <ion-img src="/assets/image/image-with-logo.jpg"></ion-img>
    <ion-card-header>
      <ion-card-subtitle>Comida da Fazenda</ion-card-subtitle>
      <ion-card-title>Bem-vindo(a) ao Estabelecimento.</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>
        A missão do Estabelecimento é oferecer comida saborosa e de ótima
        qualidade, inspirando em seus clientes um clima caseiro e acolhedor.
      </p>
    </ion-card-content>
  </ion-card>
</ion-content>
